<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 
	<bean id="myController" class="com.wrf.controller.MyController">
		<property name="userService" ref="userServiceImpl"></property>
	</bean>	
	<bean id="userServiceImpl" class="com.wrf.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDaoImpl"></property>
	</bean>
	<bean id="userDaoImpl" class="com.wrf.dao.impl.UserDaoImpl">
	</bean> 
	-->
	<!-- 开启注解 -->
	<context:annotation-config/>
	<!-- 扫描路径 -->
	<context:component-scan base-package="com.wrf.**"/>
	
</beans>
